* {
    box-sizing: border-box;
}

.container {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 1.5em;
}

.main {
    align-items: center;
    height: 40px;
    flex-basis: 100%;
}

.aside {
    height: 300px;
}

.header {
    background-color: red;
}

.text {
    background-color: skyblue;
}

.left {    
    background-color: green;
}

.right {
    background-color: pink;
}

.footer {
    background-color: purple;
}

@media (max-width: 768px) {
    .aside {
        flex-basis: 100%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .text{
        order: 1;
        flex-basis: 80%;
    }
    .right {
        order: 2;
        flex-basis: 20%;
    }
    
    .left {
        order: 3;
        flex-basis: 100%;
    }
    .footer {
        order: 4;
    }
}

@media (min-width: 992px) {
    .left {
        order: 1;
        flex-basis: 20%
    }
    .text {
        order: 2;
        flex-basis: 60%;
    }
    .right {
        order: 4;
        flex-basis: 20%;
    }
    .footer {
        order: 4;
    }
}